<div id="about-contents">
<table class="table-condensed">
  <tr>
    <td><%= image_tag('ada_logo.png') %></td>
    <td>This parking app was planned, designed, coded, & deployed in one month by Hsing-Hui Hsu and Liz Rush as a capstone project for <%= link_to "Ada Developers Academy", "http://adadevelopersacademy.org/" %>.</td>
  </tr>
</table>
<br><br>
<p>While this app provides you with parking data that is updated frequently by the City of Seattle, please remember that this app does not currently replace common sense. For example, if you see that parking on a street is undrestricted, you must still obey all laws such as not parking in front of fire hydrants or in loading zones. </p>

<br>
<h5><strong>Questions? Comments? Job Offers? Love letters?</strong></h5>

<table id="contact">
  <td>
    <div>
      <strong>Liz Rush:</strong><br>
      <%= image_tag('icon-twitter.png') %>  <%= link_to "@lizmrush", "http://https://twitter.com/lizmrush" %><br>
      <a href="mailto:&#108;&#105;&#122;&#64;liz&#109;&#114;&#117;&#115;&#104;.&#99;&#111;m">
&#108;&#105;&#122;&#64;liz&#109;&#114;&#117;&#115;&#104;.&#99;&#111;m</a>
    </div>
  </td>
  <td>
    <div>
      <strong>Hsing-Hui Hsu:</strong><br>
      <%= image_tag('icon-twitter.png') %> <%= link_to "@somanyHs", "http://https://twitter.com/SomanyHs" %><br><br>
    </div>
  </td>
</div>
