<div id="about-contents">

<table class="table-condensed">
  <tr>
    <td><%= image_tag('ada_logo.png') %></td>
    <td>This parking app was planned, designed, coded, & deployed in one month by Hsing-Hui Hsu and Liz Rush as a capstone project for <%= link_to "Ada Developers Academy", "http://adadevelopersacademy.org/" %>.</td>
  </tr>
</table>
<h5><strong>Questions? Comments? Job Offers? Love Letters?</strong></h5>

<table id="contact">
  <tr>
  <td>
    <div>
      <strong>Liz Rush:</strong><br>
      <%= image_tag('icon-twitter.png') %>  <%= link_to "@lizmrush", "http://twitter.com/lizmrush" %><br>
      <a href="mailto:&#108;&#105;&#122;&#64;liz&#109;&#114;&#117;&#115;&#104;.&#99;&#111;m">
&#108;&#105;&#122;&#64;liz&#109;&#114;&#117;&#115;&#104;.&#99;&#111;m</a>
    </div>
  </td>
    <td>
      <div>
        <strong>Hsing-Hui Hsu:</strong><br>
        <%= image_tag('icon-twitter.png') %> <%= link_to "@somanyHs", "https://twitter.com/SomanyHs"  %><br><br>
      </div>
    </td>
  </tr>
</table>
<hr>
<table id="github">
  <td>
   <%= image_tag('github.png') %>
  </td>
  <td>
    <a href="https://github.com/Elffers/parking-api">View our API on github.</a><br>
    <a href="https://github.com/lizrush/seapark">View our web app on github.</a>
  </td>
</div>
